<div class="bands">

  <h1><%= @band.name %></h1>

  <div class="row">
    <div class="col-md-6"><p>Change the Band's name</p>
      <form action="/band/<%= @band.id() %>" method="post">
        <input name="_method" type="hidden" value="patch">
        <div class="form-group">
          <input name="name" id="name" type="text"><br>
        </div>
        <button type="submit" class="btn btn-success">Update</button>
      </form>
    </div>

    <div class="col-md-6"><p>Delete this Band</p>
      <form action="/band/<%= @band.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <div class="form-group">
        <button type="submit" class="btn-danger">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>

<br>
<div class="venues">
<h3>Venues the Band has played:</h3>
<p>(checked = played)</p>

<% if @venues.any?() %>
  <form action="/venue/band/<%= @band.id %>" method="post">
    <input type="hidden" name="_method" value="patch">

    <% @venues.each() do |venue| %>
    <div class="checkbox">
      <label>
      <h4>  <input type="checkbox" name="venue_ids[]" value="<%= venue.id() %>"
          <% if @venues_checked.include?(venue.id) %>
           checked
        <% end %>
           >
      <%= venue.name() %>
    </h4></label>
      </div>
      <% end %>
      <br>
      <button type="submit">Update</button>
    </form>
  <% end %>
</div>
